@font-face {
    font-family: "Proxima Nova";
    font-weight: 400;
    src: url("../assets/fonts/ProximaNova-Medium_2770618388[2258].otf")
      format("opentype");
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Proxima Nova;
    list-style: none;
    line-height: 1.5em;
    font-weight: 400;
    text-decoration: none;
    
   
  }
  
  :root {
    --PrimaryColor0: #f7a100;
    --PrimaryColor2: #f7a100;
    --PrimaryColor10: #f8c463;
    --PrimaryInverted: #121212;
    --primaryInverted10: #181818;
    --PrimaryInverted20: #404040;
    --PrimaryInverted30: #282828;
    --SecondaryBackground: #ffffff; 
    --TextColorInverted: #ffffff;
    --Gallery0: #ededed;
    --Gallery1: #cccccc;
    --TextColor: #333333;
    --TextAlt: #0071b3; 
    --fontNormal: 16px;
    --fontExtraLarge: 45px;
    --fontLarge: 34px;
    --fontMedium: 24px;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --PrimaryColor0: #282828;
      --PrimaryColor2: #f7a100;
      --PrimaryColor10: #f8c463;
      --PrimaryInverted: #121212;
      --primaryInverted10: #181818;
      --PrimaryInverted20: #404040;
      --PrimaryInverted30: #282828;
      --SecondaryBackground: #121212;
      --Gallery0: #282828;
      --Gallery1: #cccccc;
      --TextColor: #ffffff;
      --TextColorInverted: #ffffff;
      --TextAlt: #f7a100;
      --fontNormal: 16px;
      --fontExtraLarge: 45px;
      --fontLarge: 34px;
      --fontmMedium: 24px;
    }
  
  html, body{
    max-width: 100%;
      overflow-x: hidden;
  }
  
  
    body {
      background-color: var(--PrimaryInverted);
    }
    
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--PrimaryColor2);
    width: 100%;
    height: 62px;
  }
  
  header img {
    height: 30px;
    width: auto;
  }
  
  svg {
    fill: var(--TextColorInverted);
  }
  
  .rechtermenu ul {
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  
  .lijst {
    display: flex;
    justify-content: center;
  }
  
  .left {
    display: flex;
    align-items: center;
  }
  
  .rechtermenu a {
    text-decoration: none;
    color: var(--TextColorInverted);
  }
  
  .hoofdmenu li {
    list-style: none;
    top: 10;
    right: 0;
  }
  
  
  .hoofdmenu {
    position: fixed;
    background-color: var(--PrimaryColor0);
    top: 0;
    bottom: 0;
    left: 0;
    translate: -100% 0%;
    transition: 0.5s;
    padding: 5em 1em 1em;
    inset: 0;
    z-index: 9999;
  }       
  .hoofdmenu.open {
    translate: 0% 0;
  }
  
  .hoofdmenu a {
    color: var(--TextColorInverted);
    text-decoration: none;
  }
  
  header button {
    border: none;
    background-color: transparent;
    font-size: 1.5em;
    padding: 10px;
  }
  
  
  main{
    display: grid;
    color: var(--TextColorInverted);
    gap: 7em;
    justify-content: center;
  }

  h1{
    font-size: var(--fontExtraLarge);
    text-align: center;
    margin-top: 1.5em;
  }

  p{
    text-align: center;
  }

  .versturen{
    margin-left: 2.5em;
  }